<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head') %>

</head>

<body>
    <%- include('partials/navigation') %>
        <h1>
            <%= title %>
        </h1>
            <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
                <section>
                    <h1 class="display-1">About</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum pariatur totam alias mollitia eos
                        corporis quasi. Vel, eius unde laudantium architecto inventore similique, id, rem iure autem
                        optio vero consequuntur doloribus possimus fuga distinctio quibusdam velit tempora at repellat.
                        Architecto eaque, dolorum vel reiciendis voluptatum placeat vero recusandae tempora minima aut.
                        Nesciunt obcaecati rem harum nemo delectus officia veniam porro sit natus velit sed similique
                        neque odit maiores perspiciatis pariatur cumque laboriosam ipsum ab provident iusto nisi, vitae
                        at? Commodi qui voluptate optio ratione illo sed repellat odio dolor, autem assumenda aliquam
                        sequi id necessitatibus! Sunt reiciendis et tenetur esse odit non, natus dolorum illum a
                        voluptatum maxime, cumque nobis optio, nisi sint at. Inventore placeat molestias in, alias atque
                        nobis quam iste, expedita libero asperiores suscipit commodi sequi! Tempora, explicabo
                        praesentium velit eius consequuntur in minima incidunt. Voluptatibus earum nostrum repudiandae
                        error corporis exercitationem molestiae recusandae ad, voluptas ea incidunt consectetur ullam
                        praesentium ratione unde eaque, amet illo voluptates fugiat natus facilis nesciunt! Error eos
                        amet perspiciatis quos animi. Corrupti ipsum numquam provident amet libero veniam possimus sequi
                        dicta ratione voluptatibus eaque, quod cum. Voluptas aperiam dolorum molestiae voluptatibus ea
                        non tempora nesciunt eos explicabo error, tempore obcaecati voluptate consectetur necessitatibus
                        exercitationem velit quae fugit officia animi ex aliquid eveniet ut labore. Enim nostrum porro
                        ut! Ipsa maiores, cupiditate quis officia accusamus voluptatem temporibus inventore. Eaque magni
                        eius hic dolor odit perspiciatis ut? Nobis nihil magni numquam laborum eaque ullam ipsum commodi
                        mollitia totam labore accusamus, sequi obcaecati dolor animi alias praesentium eius eveniet id
                        esse aliquid aspernatur illum veniam vero quaerat! Voluptatum nesciunt reiciendis minus sint
                        facere veniam pariatur mollitia dolores necessitatibus, aspernatur quos incidunt voluptas
                        molestiae ipsa porro. Magni odio ducimus sit nostrum error tenetur animi hic nemo praesentium,
                        ex quod explicabo, assumenda doloremque quo! Cum, dolore!</p>
                </section>
            </main>
            <%- include('partials/footer')%>


</body>

</html>